@tailwind base;
/*@tailwind components;*/
@tailwind utilities;

h1 { @apply text-2xl; }
h2 { @apply text-xl; }
h3 { @apply text-lg; }
h4 { @apply text-base; }
h5 { @apply text-sm; }
h6 { @apply text-xs; }

h1, h2, h3, h4, h5, h6 {
	@apply font-bold leading-10;
}

ul {
	@apply list-disc pl-8 py-2;
}

ol {
	@apply list-decimal pl-8 py-2;
}

blockquote {
	@apply pl-3 py-2 border-l-4 border-slate-300
}

table { @apply border border-slate-300; }
table tr {}
th { @apply px-3 py-1 text-sm; }
td { @apply px-3 py-1; }
table thead tr { @apply odd:bg-slate-100; }
table tbody tr { @apply even:bg-slate-100; }

pre {
	@apply bg-slate-100 px-2 py-2;
}

.bg-table-cloth {
	background: white;
	background-image: linear-gradient(90deg, rgba(127, 127, 127, .1) 50%, transparent 0),
		linear-gradient(rgba(127, 127, 127, .1) 50%, transparent 0);
	background-size: 30px 30px;
}

.bg-editor {
	background: white;
	background-image: linear-gradient(0deg, rgba(127, 127, 127, .1) 50%, transparent 0);
	background-size: 60px 64px;
}
